[user]
	name = Sergey Naumov
	email = drmgc@yandex.ru
[core]
	editor = vim
[merge]
	tool = sublime
[alias]
	co   = checkout
	ci   = commit
	st   = status
	hst  = status -s
	br   = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	dft  = difftool
	sm   = submodule
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[mergetool "sublime"]
	cmd = subl -w $MERGED
	trustExitCode = false
[credential]
	helper = cache --timeout=3600
[init]
	defaultBranch = main
