[user]
	name = Sergey Naumov
	email = drmgc@yandex.ru
	signingkey = /home/drmgc/.ssh/id_ed25519_git
[core]
	editor = vim
[alias]
	co   = checkout
	ci   = commit -S -m
	st   = status
	hst  = status -s
	br   = branch
	po   = push -u origin
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	type = cat-file -t
	dump = cat-file -p
	dft  = difftool
	sm   = submodule
[diff]
	tool = difftastic
	; external = difft
[difftool]
	prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[pager]
	difftool = true
[credential]
	helper = cache --timeout=3600
[init]
	defaultBranch = main
[rerere]
  enabled = true

[includeIf "gitdir:~/prj/"]
	path = ~/prj/.gitconfig

[http]
	postBuffer = 4096M
	version = HTTP/1.1

[gpg]
  format = ssh
[commit]
  gpgsign = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
